
DATABASE_DRIVE=postgres # Use PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=with-redis-cache

REDIS_URL_CONNECTION="redis://localhost:6379"

# Define how many products will be generated using seed script
QTT_PRODUCTS=1000